<div class="row">
	<div id="drinks-box" class="span6">
		<form>
			<label for="drink_name">Name</label>
			<input id="drink_name" name="drink_name" type="text" />
			<table class="table table-bordered">
				<thead><tr><th>Raw Text</th><th>Ingredient</th></tr></thead>
				<tbody id="ingredients-table"></tbody>
			</table>
			<input id="approve_drink" type="button" value="Approve and Continue" class="btn btn-primary" />
		</form>	
	</div>

	<div class="span6">
		<table id="drinks-table" class="table table-striped table-bordered">
			<thead><tr><th>Name</th></tr></thead>
			<tbody id="drinks-table-body"></tbody>
		</table>
	</div>
</div>

<script>
	#(function() {
		PMO.AdminApp.start();
	});
</script>