<div class="clearfix">
  {{#if raw_text }}
    <input type="text" class="pull-left" value='{{ raw_text }}' />
    <button class="close pull-left">&times;</button>
  {{ else  }}
    <input type="text" placeholder="1 oz Whiskey, etc" />
  {{/if}}
</div>