<div class="jumbotron hero">
  <%= search_form_for @search do |f| %>
  <h2>What'll you have?</h2>
  <%= f.search_field Drink.ransack_search_token, placeholder: 'Whiskey, Gin, Rum ...' %>
  <% end %>
</div>

<div class="nearby">
  <h4 class="heading">Nearby venues:</h4>
  <ul id="venue-list" class="list" data-inset="true"></ul>
</div>

<script>
  $(function() {
      navigator.geolocation.getCurrentPosition(function(pos) {

          // now that we have position, fetch nearby venues
          var venueCollection = new PMO.VenueCollection();
          var venueCollectionView = new PMO.VenueCollectionView({
              collection: venueCollection,
              el: '#venue-list'
          });
          venueCollection.fetch({ data: {
              lat: pos.coords.latitude,
              lon: pos.coords.longitude
          }, success: function() {
              $('#venue-list').listview()
          }});

          var drinkForm = $('form#drink_search');
          drinkForm.append('<input type="hidden" name="lat" value="' + pos.coords.latitude + '" />');
          drinkForm.append('<input type="hidden" name="lon" value="' + pos.coords.longitude + '" />');
      });
  })
</script>