<h3><%= @venue.name %></h3>
<%= link_to 'Directions', 'http://maps.apple.com/maps?daddr=156+2nd+St,+San+Francisco,+CA', target: '_blank' %>

<ul data-role="listview" data-inset="true">
  <% @venue.drinks.each do |drink| %>
  <li><%= link_to drink.name, drink %></li>
  <% end %>
</ul>