<span class="ingredient-name">{{ingredient_name}}</span>
<input type="hidden" name="ingredients[][id]" value="{{ ingredient_id }}" />
<input type="hidden" name="ingredients[][name]" value="{{ ingredient_name }}" />
<input type="button" class="delete" value="Remove" />