<label>Ingredients</label>
<ul id="ingredients-container"></ul>
<li class="drink-ingredient-row">
    <input id="new-ingredient" class="ingredient-name" placeholder="Ingredient name" />
    <input type="button" value="Add" id="add-new-ingredient" />
    <input id="ingredient-id" type="hidden" />
</li>